<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <meta id="_csrf" name="_csrf" th:content="${_csrf?.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf?.headerName}"/>
</head>
<body>
    <h1>공지글 수정</h1>
    <form th:action="@{/announcement/{id}/edit(id=${announcement.announcementId})}" method="post">
        <div>
            <label for="title">제목</label>
            <input type="text" id="title" name="title" th:value="${announcement.title}">
        </div>
        <div>
            <label for="content">내용</label>
            <textarea id="content" name="content" th:text="${announcement.content}"></textarea>
        </div>
        <div>
            <label for="title">중요여부:</label>
            <input th:field="${announcement.isImportant}" type="checkbox" id="is-shared" name="is-shared">
        </div>
        <button type="submit">저장</button>
    </form>
</body>
</html>