<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>게시글 상세보기</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <meta id="_csrf" name="_csrf" th:content="${_csrf?.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf?.headerName}"/>
</head>
<body>
    <h1>게시글 상세보기</h1>
    <div class="post-detail">
        <h2 th:text="${post.title}"></h2>
        <p class="post-meta">
            작성일: <span th:text="${#temporals.format(post.createAt, 'yyyy년 MM월 dd일 HH시 mm분')}"></span>
        </p>
        <div class="post-content" th:text="${post.content}"></div>
        <a th:href="@{/posts/{postId}(postId=${post.postId})}" style="padding: 0">
        </a>
            <button id="likeBtn" class="button" th:postId="${post.postId}" th:onclick="increaseLike(this.getAttribute('postId'))">좋아요</button>
        <span id="likes" th:text="${post.likesCount}"></span>
        <hr>
        <h3>댓글</h3>
        <div class="post-comment" th:each="comment: ${post.comments}">
            <p class="post-comment">
                댓글 번호: <span class="post-comment" th:text="${comment.commentId}"></span>
                작성자 Id: <span class="post-comment" th:text="${comment.userId}"></span>
            </p>
            <p class="post-comment">
                <span class="post-comment" th:text="${comment.content}"></span>
            </p>
            <p class="post-comment">
                작성 시각: <span class="post-comment" th:text="${#temporals.format(comment.createAt, 'yyyy년 MM월 dd일 HH시 mm분')}"></span>
            </p>
            <p class="post-comment">
                좋아요: <span class="post-comment" th:text="${comment.likes}"></span>
                싫어요: <span class="post-comment" th:text="${comment.dislikes}"></span>
            </p>
        </div>
        <hr>
        <div class="post-actions">
            <a th:href="@{/posts}">목록으로</a>
            <a th:href="@{/posts/{id}/edit(id=${post.postId})}" class="edit-btn">수정</a>
            <form th:action="@{/posts/{id}/delete(id=${post.postId})}" method="post" class="delete-form">
                <button type="submit">삭제</button>
        </form>
        </div>
    </div>
<script th:inline="javascript">
    const header = document.querySelector('meta[name="_csrf_header"]').content;
    const token = document.querySelector('meta[name="_csrf"]').content;
    console.log(header);
    console.log(token);
    function increaseLike(postId) {
        console.log(postId);
        fetch(postId + "/like", {
            headers: {
                'header': header,
                'X-CSRF-Token': token
            },
            method: "POST"
        })
            .then((response) => console.log(response))
            .catch((error) => console.log(error));
    }
</script>
</body>
</html>