<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
<head>
    <title>게시글 상세보기</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.3/dist/minty/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <meta id="_csrf" name="_csrf" th:content="${_csrf?.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf?.headerName}"/>
</head>
<body>
    <nav th:replace="layout/nav::nav"></nav>
    <main>
        <h2>게시글 상세보기</h2>
        <div class="post-detail">
            <h2 th:text="${post.title}"></h2>
            <p class="post-meta">
                작성자: <span th:text="${post.user.username}"></span>
                작성일: <span th:text="${#temporals.format(post.createAt, 'yyyy.MM.dd HH:mm')}"></span>
            </p>
            <div th:id="post-content" class="post-content" th:text="${post.content}"></div>
            <button class="btn btn-secondary" th:postId="${post.postId}" th:onclick="increaseLike(this.getAttribute('postId'))">좋아요</button>
            <span class="like-counter" th:text="${post.likesCount}"></span>
            <hr>
            <h3>댓글</h3>
            <div class="comment-stat" th:each="postComment: ${post.comments}">
                <p >
                    작성자 : <span th:text="${postComment.user.username}"></span>
                     작성 시각: <span th:text="${#temporals.format(postComment.createAt, 'yyyy.MM.dd HH:mm')}"></span>
                </p>
                <p class="post-comment">
                    <span class="post-comment" th:text="${postComment.content}"></span>
                </p>
                <p>
                    <button class="btn btn-outline-secondary" th:postId="${post.postId}" th:commentId="${postComment.commentId}"
                            th:onclick="increaseCommentLike(this.getAttribute('postId'), this.getAttribute('commentId'))">좋아요</button>
                    <span th:id="c-like-+${postComment.commentId}" th:text="${postComment.likes}"></span>
                    <button class="btn btn-outline-secondary" th:postId="${post.postId}" th:commentId="${postComment.commentId}"
                            th:onclick="decreaseCommentLike(this.getAttribute('postId'), this.getAttribute('commentId'))">싫어요</button>
                    <span th:id="c-dislike-+${postComment.commentId}" th:text="${postComment.dislikes}"></span>
                </p>
                <a class="btn btn-outline-info" th:href="@{/comments/{commentId}/edit(commentId=${postComment.commentId}, postId=${post.getPostId()})}">수정</a>
                <form th:action="@{/comments/{commentId}/delete(commentId=${postComment.commentId})}" method="post" style="display: inline;">
                    <input type="hidden" name="userId" th:value="${postComment.user.getId()}"/>
                    <input type="hidden" name="postId" th:value="${post.postId}"/>
                    <button class="btn btn-outline-danger" type="submit">삭제</button>
                </form>
            </div>
            <a class="btn btn-success" th:href="@{/comments/{postId}/add(postId=${post.postId})}">댓글 작성</a>
            <hr>
            <div class="post-actions">
                <a class="btn btn-primary" th:href="@{/board}">목록으로</a>
                <a class="btn btn-info" th:href="@{/posts/{id}/edit(id=${post.postId})}">수정하기</a>
                <form th:action="@{/posts/{id}/delete(id=${post.postId})}" method="post">
                    <button class="btn btn-danger" type="submit">삭제하기</button>
                </form>
            </div>
        </div>
    </main>
    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script th:inline="javascript">
        // convert all enter symbols to <br>
        const postContent = $('#post-content');
        let result = postContent[0].innerHTML.replace(/(?:\r\n|\r|\n)/g, "<br>");
        postContent[0].innerHTML = result;

        function increaseLike(postId) {
            fetch(postId + "/like", {
                headers: {
                    'header': document.querySelector('meta[name="_csrf_header"]').content,
                    'X-CSRF-Token': document.querySelector('meta[name="_csrf"]').content
                },
                method: "POST",
            })
                .then((response) => {
                    console.log(response);
                    const counter = $('.like-counter')[0];
                    let likeCount = parseInt(counter.innerHTML);
                    counter.innerHTML = likeCount + 1;
                })
                .catch((error) => console.log(error));
        }

        function increaseCommentLike(postId, commentId) {
            fetch("/comments/like", {
                headers: {
                    'header': document.querySelector('meta[name="_csrf_header"]').content,
                    'X-CSRF-Token': document.querySelector('meta[name="_csrf"]').content,
                    "Content-Type": "application/json"
                },
                method: "POST",
                body: JSON.stringify({
                    postId: postId,
                    commentId: commentId
                })
            })
                .then((response) => {
                    console.log(response);
                    const counter = $('#c-like-' + commentId)[0];
                    let likeCount = parseInt(counter.innerHTML);
                    counter.innerHTML = likeCount + 1;
                })
                .catch((error) => console.log(error));

        }

        function decreaseCommentLike(postId, commentId) {
            fetch("/comments/dislike", {
                headers: {
                    'header': document.querySelector('meta[name="_csrf_header"]').content,
                    'X-CSRF-Token': document.querySelector('meta[name="_csrf"]').content,
                    "Content-Type": "application/json"
                },
                method: "POST",
                body: JSON.stringify({
                    postId: postId,
                    commentId: commentId
                })
            })
                .then((response) => {
                    console.log(response);
                    const counter = $('#c-dislike-' + commentId)[0];
                    let likeCount = parseInt(counter.innerHTML);
                    counter.innerHTML = likeCount + 1;
                })
                .catch((error) => console.log(error));
        }
    </script>
</body>
</html>