@font-face {
    font-family: 'Freesentation-5Medium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-5Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
body {
    font-family: 'Freesentation-5Medium', serif;
    font-size: large;
    display: flex;
    flex-direction: column;
}
h2, h3 {
    font-family: 'Freesentation-5Medium', serif;
}
main {
    display: flex;
    flex-direction: column;
    margin:0 250px 0 250px;
    height: auto;
    min-height:100%;
    padding-bottom: 150px;
}
footer {
    height: 150px;
    position: relative;
    transform: translateY(-100%);
}
.board-meta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}
.container-fluid {
    width: 80%;
}
.navbar {
    font-family: 'Freesentation-5Medium', serif;
    font-size: 26px;
    height: 100px;
    padding: 0 40px 0 60px;
}
.nav-item{
    padding-right: 10px;
}
h2 {
    margin : 20px 0;
}

.navbar-brand{
    font-weight: bold;
    font-size: 40px;
}

.nav-item{
    margin: 10px;
}

.btn {
    font-family: 'Freesentation-5Medium', serif;
    font-size: 15px;
}

tr, td{
    text-align: center;
}
.function{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}
.post-list {
    margin-top: 50px;
}
.post-detail, .announcement-detail, .add-post{
    padding: 30px 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 50px;
}

.post-meta, .announcement-meta {
    color: #888;
    margin-bottom: 20px;
    font-size: 18px;
}

.post-content, .announcement-content {
    line-height: 1.6;
    font-size: 25px;
    margin-bottom: 20px;
}
.comment-stat {
    margin: 10px;
    border-radius: 15px;
    border-color: #f0f0f0;
    padding: 20px;
    border-style: solid;
    font-size: 15px;
}
.post-comment {
    font-size: 20px;
}

.profile-meta {
    margin-top: 50px;
}
.post-actions{
    padding-top: 25px;
}
.post-actions > form {
    display: inline;
}

.admin-meta {
    margin: 50px 0 30px 0;
    display: flex;
    justify-content: flex-start;
}

.add-btn{
    margin-top: 20px;
}