<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>댓글 작성</title>
    <meta id="_csrf" name="_csrf" th:content="${_csrf?.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf?.headerName}"/>
</head>
<body>
    <h1>댓글 작성</h1>
    <form th:action="@{/comments/{postId}/add(postId=${postId})}" method="post">
        <div>
            <label for="content">Comment:</label>
            <textarea id="content" name="content" required></textarea>
        </div>
        <div>
            <button type="submit">저장</button>
        </div>
    </form>
</body>
</html>